html {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
body {
    font-family: Calibri;
    color: black;
}
#logo {
    height: 100%;
    width: 100%;
}
.logAndSign{
    text-align: right;
}

.menuBar {
    text-align: center;
    background-color: lightgray;
}
.topMenu {
    width: 100%;
}
.footer {
    vertical-align: 0%;
}
hr {
    color: lightgreen;
    height: 1px;
    background-color: gray;
}
.meats {
    background-color: coral;
}
.veggies{
    background-color: lightgreen;
}
.fruits {
    background-color: orange;
}
.dairies {
    background-color: beige;
}
.grains {
    background-color: burlywood;
}

.bottomRow {
    text-align: center;
}

.costs{
    text-align: right;
}
.ourContent {
    text-align: center;
}

.bottomNavi {
    position: fixed;
    margin-left: 0;
    margin-right: 0;
    left: 0;
    right: 0;
    bottom: 0%;
    background-color: lightgray;
}

.buttonHolder {
    padding-left: 0px;
    padding-right: 0px; 
}

.bottomButton{
    padding-left: 20%;
    padding-right: 20%;
    background-color: lightgray;
}
.specialButton {
    width: 100%;
    border-radius: 75%;
    background-color: aqua;
}
table, td, tr, th {
	border: 1px solid red;
	text-align: center;
}
.navImg {  
    width: 100%;
    height: 100%;
}
#specialNavi {
    position: fixed;
    bottom: 0;
    left: 38%;
    right: 38%;
}
#aboutUsHeader{
    
}