/*Makes sure that objects are not set to default browser objects*/
html {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*Standardized font for all pages*/
body {
  font-family: Calibri;
  color: black;
}

/*Sets the logo size*/
#logo {
  height: 100%;
  width: 100%;
  max-width: 700px;
  max-height: 200px;
}
/*Sets the color of the slider */
input[type=range]::-webkit-slider-thumb {
  background-color: white;
}

/* set the opacity of the easter egg button dissapear*/
#easterEggBtn {
  opacity:0;
}

/*Set the search bar to not display*/
#easterEggSearch {
  display:none;
}

/*Set the search bar for the easter egg white at the bottom*/
#easterEgg {
  border-bottom: 1px solid white;
}

input[type=range]::-moz-range-thumb {
  background-color: white;
}
input[type=range]::-ms-thumb {
  background-color: white;
}

/*These are to edit the thumb and the text inside the thumb for sliders */
input[type=range] + .thumb {
  background-color: #616161;
}
input[type=range] + .thumb.active .value {
  color: white;
}

/* Changes the color of bottom border of search bar*/
#search {
  border-bottom: 1px solid white;
}

/* Change the color of the tick for the checkboxes */
.check_tick:checked + label:before {
  border-right: 2px solid white;
  border-bottom: 2px solid white;
}

.check_tick + label:before {
  border: 2px solid white;
}

/*Aligns the login and signup text*/
.logAndSign{
  text-align: right;
}

/*Sets heading*/
h2 {
  padding-left: 10%;
}

/*increase size of drop down chevron*/
label.largo_svg {
  margin: 30px;
  color: #43a047;
}

/*increase size of dropdown content body*/
.collapsible-body  {
  font-size: 4ex;
}

/*notes.php font size increase*/
.note_body {
  font-size: 8vw;
  padding: 0px;
}

/*record.php font size increase*/
.record_body  {
  font-size: 6vw;
}

/*increase size of dropdown header*/
.collapsible-header {
  padding-top: 15px;
  font-size: 10vw;
  background-color: #66bb6a;
}

/*align prices to right side fo screen*/
.alt-right{
  text-align: right;
}

/*increase size of food item images*/
.largo_svg {
  padding-top: 60px;
  transform: scale(2);
}

/*increase size of materialize material icon*/
.largo_material_icon {
  font-size: 10px
}

/*Aligns menubar for the bottons*/
.menuBar {
  text-align: center;
  background-color: lightgray;
}

/*Sets div width to 100%*/
.topMenu {
  width: 100%;
}

/*Sets footer to 0% align*/
.footer {
  vertical-align: 0%;
}

/*Gives horizontal bar properties*/
hr {
  color: lightgreen;
  height: 1px;
  background-color: gray;
}

/*Sets meat bar color*/
.meats {
  background-color: coral;
}

/*Sets veggies bar color*/
.veggies{
  background-color: lightgreen;
}

/*Sets fruits bar color*/
.fruits {
  background-color: orange;
}

/*Sets dairies bar color*/
.dairies {
  background-color: beige;
}

/*Sets grain bar color*/
.grains {
  background-color: burlywood;
}

/*Sets bottom row alignment for navigation*/
.bottomRow {
  text-align: center;
}

/*Aligns costs to the right*/
.costs{
  text-align: right;
}

/*Sets contents to center*/
.ourContent {
  text-align: center;
}

/*Sets the bottom navigation bar to the bottom and colors it*/
.bottomNavi {
  position: fixed;
  margin: 0px;
  left: 0;
  right: 0;
  bottom: 0%;
  background-color:#a5d6a7;
}

/*Sets the input fields*/
.input-field label {
  color:white;
}
/*default format of the input type text*/
.input-field input[type=text]{
  border-top:none;
  border-left:none;
  border-right:none;
  border-bottom: 1px solid white;
}
/*focus format of the label type text*/
.input-field input[type=text]:focus + label {
  color:white;
}
/*focus format of the input type text*/
.input-field input[type=text]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}
/*default format of the input type email*/
.input-field input[type=email] {
  border-bottom: 1px solid white;
}
/*focus format of the label type email*/
.input-field input[type=email]:focus + label {
  color: white;
}
/*focus format of the input type email*/
.input-field input[type=email]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}
/*default format of the textarea*/
textarea.materialize-textarea {
  border-bottom: 1px solid white;
}
/*focus format of the input type textarea*/
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white;
}
/*focus format of the label type textarea*/
textarea.materialize-textarea:focus:not([readonly]) + label {
  color:white;
}

/*settings for button holder bar*/
.buttonHolder {
  padding-left: 0px;
  padding-right: 0px;
}

/*settings for the button paddings*/
.bottomButton{
  padding-left: 20%;
  padding-right: 20%;
}

table, td, tr, th {
  border: 1px solid black;
  text-align: center;
}
.col.s6.food_group > .btn {
  width: 100%;
}
i.icon-white {
  color:white;
}

input[type=text],textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: white;
}

input[type=submit] {
  background-color: green;
  color: white;
  padding: 12px 20px;
  cursor: pointer;

}

input[type=submit]:hover {
  background-color: grey;
}

.container {
  border-radius: 5px;
  background-color:#f2f2f2;
  padding: 20px;
}

.submit0 {
  text-align: center;
  background-color: lightgray;
}

/*Targets main + button in the navigation bar on the bottom and gives it styling*/
.specialButton {
  width: 100%;
  border-radius: 75%;
  background-color:#a5d6a7;
}
table, td, tr, th {
  border: 1px solid red;
  text-align: center;
}

/*Sets image size*/
.navImg {
  width: 100%;
  height: 100%;
}

/*targets bottom button and sets size for it*/
#specialNavi {
  position: fixed;
  bottom: 0;
  left: 38%;
  right: 38%;
}
