html{
    background-color: lightgreen;
}
.topMenuBar{
    background-color: lightgreen;
}
#logo {
    height: 50px;
    width: 50px;
}
.logAndSign{
    text-align: right;
}

.menuBar {
    background-color: lightgoldenrodyellow;
    text-align: center;
}
#Menu {
    width: 100%;
}